{{define "type"}}
<!DOCTYPE html>
<html lang="ru" class="h-100">
{{end}}

{{define "meta"}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{{end}}

{{define "styles"}}
<link rel="stylesheet" href="/public/css/bootstrap.min.css">
{{end}}

{{define "navbar"}}
<nav class="navbar navbar-dark bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">URL SHORTENER</a>
    </div>
</nav>
{{end}}

{{define "response" }}
<div id="response" class="mt-3"></div>
{{end}}

{{define "footer"}}
<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        © 2022 Alex Tonkonogov: <a href="https://alextonkonogov.ru">alextonkonogov.ru</a>
    </div>
</footer>
{{end}}

{{define "scripts"}}
<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js" ></script>
{{end}}