{{define "admin"}}
{{template "type"}}
<head>
    {{template "meta"}}
    {{template "styles"}}
    <title>url shortener</title>
</head>
<body class="d-flex flex-column h-100">
{{template "navbar"}}
<div class="container mt-5">
{{ if .Err }}
<div class="alert alert-danger" role="alert">Ссылка недействительна!</div>
{{ else }}
<div class="alert alert-primary" role="alert">
    <div>
        <h6>Ваша ссылка</h6>
        <a href="{{.Link}}" target="_blank">{{.Link}}</a>
    </div>
    <div class="mt-3">
        <h6>Кол-во переходов:</h6>
        <p>{{.Count}}</p>
    </div>
</div>
{{ end }}
</div>

{{template "footer"}}
{{template "scripts"}}
</body>
</html>
{{end}}
